.form {
  max-width: 385px;
}
.reservation__form {
  max-width: 385px;
  margin-bottom: 120px;
}
.form__label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}
.form__input {
  width: 100%;
  border-radius: 4px;
  color: #838383;
  margin-bottom: 32px;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
}
.form__button {
  border-radius: 4px;
  max-width: 385px;
  padding: 0 100px;
  margin-bottom: 32px;
  height: 60px;
  font-weight: 500;
  background-color: #2f80ed;
  color: #fff;
}
.form__button:hover {
  opacity: 70%;
}
.form__fieldset_el_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.form__label_el_checkbox {
  margin-left: 12px;
}
.form__input_el_checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
