.page {
  max-width: 1600px;
  min-width: 1100px;
  font-family: "Inter", "Noto Sefir";
  font-size: 16px;
  line-height: 20px;
  margin: auto;
  color: black;
}
.header {
  height: 100vh;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  display: flex;
  position: relative;
  top: 30px;
  left: 30px;
  height: 39px;
  width: 105px;
}
.nav__links {
  display: flex;
  list-style-type: none;
  margin-top: 30px;
  margin-right: 80px;
  column-gap: 20px;
}
.nav__link {
  font-weight: 500;
  color: #000;
}

.header__title {
  display: block;
  max-width: 709px;
  margin-top: 183px;
  margin-bottom: 28px;
  margin-left: 80px;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  display: block;
  font-family: "Noto Sefir", "Times New Roman", serif;
  font-size: 58px;
  font-style: italic;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  display: flex;
  justify-items: end;
  max-width: 683px;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.header__image {
  display: flex;
  flex-direction: column;
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__footer {
  color: #838383;
}
.header__schedules {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 80px;
  bottom: 40px;
}
.header__address {
  display: flex;
  margin-top: auto;
  position: absolute;
  right: 80px;
  bottom: 20px;
}
.header__paragraph {
  font-weight: 500;
  margin: 0;
  color: #838383;
}
.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
}
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  height: 273px;
  width: 480px;
  padding: 0%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 215px;
  column-gap: 40px;
}
.recipes__video-item {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  margin-bottom: 24px;
}
.recipes__iframe {
  border: none;
  width: 450px;
  height: 200px;
}
.recipes__video-caption {
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 80px;
  padding-top: 100px;
}
.form {
  max-width: 385px;
}
.reservation__form {
  max-width: 385px;
  margin-bottom: 120px;
}
.form__label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}
.form__input {
  width: 100%;
  border-radius: 4px;
  color: #838383;
  margin-bottom: 32px;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
}
.form__button {
  border-radius: 4px;
  max-width: 385px;
  padding: 0 100px;
  margin-bottom: 32px;
  height: 60px;
  font-weight: 500;
  background-color: #2f80ed;
  color: #fff;
}
.form__button:hover {
  opacity: 70%;
}
.form__fieldset_el_checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.form__label_el_checkbox {
  margin-left: 12px;
}
.form__input_el_checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
}
